<app-error404 *ngIf="!(accountService.currentAdmin$ | async) as principal"></app-error404>

<table class="table table-hover" *ngIf="(accountService.currentAdmin$ | async) as principal">

    
    <thead>
        <tr>
            <th scope="col">State ID</th>
            <th scope="col">State Name</th>
            
        </tr>
    </thead>
    <tbody *ngFor="let st of state">
        <tr>
            <td>{{st.stateID}}</td>
            <td>{{st.stateName}}</td>
           

            <td> <button class="btn btn-primary" [routerLink]="['/stateedit']">edit</button> </td>
            
            <td> <button type="button" class="btn btn-danger" [routerLink]="['/stateview']" (click)="onRowDelete(st.stateID)" >Delete</button>
            </td>


        </tr>
        <tr>

        </tr>

    </tbody>
</table>