<app-error404 *ngIf="!(accountService.currentAdmin$ | async) as principal"></app-error404>

<table class="table table-hover" *ngIf="(accountService.currentAdmin$ | async) as principal">

    
    <thead>
        <tr>
            <th scope="col">Religion ID</th>
            <th scope="col">Religion Name</th>
            
        </tr>
    </thead>
    <tbody *ngFor="let rel of religion">
        <tr>
            <td>{{rel.religionID}}</td>
            <td>{{rel.religionName}}</td>
           

            <td> <button class="btn btn-primary" [routerLink]="['/religionedit']">edit</button> </td>
            
            <td> <button type="button" class="btn btn-danger" [routerLink]="['/religionview']" (click)="onRowDelete(rel.religionID)" >Delete</button>
            </td>


        </tr>
        <tr>

        </tr>

    </tbody>
</table>