<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">SL.NO</th>
            <th scope="col">Course Name</th>
            <th scope="col">Course Shortname</th>
            <th scope="col">Course Type</th>
            <th scope="col">Course Description</th>
        </tr>
    </thead>
    <tbody *ngFor="let course of courses">
        <tr>
            <td>{{course.courseid}}</td>
            <td>{{course.coursename}}</td>
            <td>{{course.courseshortname}}</td>
            <td>{{course.coursetype}}</td>
            <td>{{course.coursedescription}}</td>

            <td> <button class="btn btn-primary" [routerLink]="['/courseedit']">edit</button> </td>
            <td> <button type="button" class="btn btn-danger" [routerLink]="['/courseview']" (click)="onRowDelete(course.courseid)" >Danger</button>
            </td>


        </tr>
        <tr>

        </tr>

    </tbody>
</table>