<carousel>
  <slide >
    
    <img src="https://c1.wallpaperflare.com/preview/79/806/473/book-business-drawing-education.jpg" alt="first slide" style="display: block; width: 100%;">

      <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
        <div class="container" style="padding-bottom: 20%;">
            <div class="row justify-content-start">
                <div class="col-sm-10 col-lg-8">
        <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
        <h1 class="display-3 text-white animated slideInDown">The Best Online Learning Platform</h1>
        <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply Here!</a>
        <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Read More</a>
        </div>  
        </div>  
        </div>
    </div>
  </slide>
  <slide >
    
    <img src="https://c1.wallpaperflare.com/preview/623/487/747/technology-code-coding-computer.jpg" alt="first slide" style="display: block; width: 100%;">

      <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
        <div class="container" style="padding-bottom: 20%;">
            <div class="row justify-content-start">
                <div class="col-sm-10 col-lg-8">
        <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
        <h1 class="display-3 text-white animated slideInDown">The Best Online Learning Platform</h1>
        <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply Here!</a>
        <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Read More</a>
        </div>  
        </div>  
        </div>
    </div>
  </slide>
  <slide >
    
    <img  src="https://c1.wallpaperflare.com/preview/547/595/807/business-computer-contemporary-dark.jpg" alt="first slide" style="display: block; width: 100%;">

      <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(24, 29, 56, .7);">
        <div class="container " style="padding-bottom: 20%;">
            <div class="row justify-content-start">
                <div class="col-sm-10 col-lg-8">
        <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
        <h1 class="display-3 text-white animated slideInDown">The Best Online Learning Platform</h1>
        <p class="fs-5 text-white mb-4 pb-2">Vero elitr justo clita lorem. Ipsum dolor at sed stet sit diam no. Kasd rebum ipsum et diam justo clita et kasd rebum sea sanctus eirmod elitr.</p>
        <a href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Apply Here!</a>
        <a href="" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Read More</a>
        </div>  
        </div>  
        </div>
    </div>
  </slide>
</carousel>

  <div class="jumbotron">
    <div class="container">  
      <div class="main">    

        
        <!-- <h1>Welcome to Suiii college</h1>
        <a href="#" class="btn-main">Get Started</a> -->
        
       
        
      </div>
    </div>
  </div>

  

  <div class="supporting">
    <div class="container">
      <div class="col">
        <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/design.svg">
        <h2>Design</h2>
        <p>Make your projects look great and interact beautifully.</p>
        <a href="#" class="btn-default">Learn More</a>
        
      </div>
      <div class="col">
        <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/develop.svg">
        <h2>Develop</h2>
        <p>Use modern tools to turn your design into a web site</p>
        <a href="#" class="btn-default">Learn More</a>
        
      </div>
      <div class="col">
        <img src="https://s3.amazonaws.com/codecademy-content/projects/broadway/deploy.svg">
        <h2>Deploy</h2>
        <p>Use modern tools to turn your design into a web site</p>
        <a href="#" class="btn-default">Learn More</a>
        
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="footer">
    <div class="container">
      <p>&copy; Broadway 2015</p>
    </div>
  </div>

  <button (click)="logout()" [routerLink]="['/guesthome']"> log out </button>

