* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:#001122;
    font-family: Poppins, sans-serif;
    width: 100%;
    height: 20vh;
    display: grid;
    place-items: center;
}

.btn {
    background:turquoise;
    color: #fff;
    padding: 0.25rem 0.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition-duration: 0.4s;
}

.btn:hover {
    background: #fff;
    box-shadow: 0px 2px 20px 10px #97B1BF;
    color: #000;
}