<nav class="navbar navbar-expand-lg bg-white navbar-light shadow sticky-top p-0"
    *ngIf="!(accountService.currentAdmin$ | async) as principal">
    <a class="navbar-brand d-flex align-items-center px-4 px-lg-5" >
        <h2 class="m-0 text-primary"><i class="fa fa-book me-3"></i>EnLearn</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto p-4 p-lg-0">

            <!-- <a class="nav-link active" aria-current="page" [routerLink]="['/studentregister']"
                *ngIf="!(accountService.currentUser$ | async)">Register</a>
            <a class="nav-link active" aria-current="page" [routerLink]="['/studentlogin']"
                *ngIf="!(accountService.currentUser$ | async)">Student Login</a> -->
                <div class="btn-group" dropdown>
                    <a class="nav-link dropdown-toggle" dropdownToggle *ngIf="!(accountService.currentUser$ | async)">Other Logins</a>
                    <ul id="dropdown-autoclose1" *dropdownMenu class="dropdown-menu" role="menu"
                        aria-labelledby="button-autoclose1">
                        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/interviewerlogin']" >Interviewer Login</a></li>
                        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/officelogin']">Office Login</a></li>
                        <!-- <li role="menuitem"><a class="dropdown-item"[routerLink]="['/guesthome']" >Something else here</a></li> -->
                    </ul>
                </div>
            <a class="nav-link active" [routerLink]="['/userhome']"
                *ngIf="(accountService.currentUser$ | async)">Home</a>
                <a class="nav-link active" [routerLink]="['/applicationstatusview']"
                *ngIf="(accountService.currentUser$ | async)">Application View</a>

            <a class="nav-link active" [routerLink]="['/guesthome']"
                *ngIf="!(accountService.currentUser$ | async)">Home</a>
           
                <a class="nav-link active" [routerLink]="['/image']"
                *ngIf="!(accountService.currentUser$ | async)">Images</a>

                <a class="nav-link active" [routerLink]="['/contactus']"
                *ngIf="!(accountService.currentUser$ | async)">Contact Us</a>
            <div class="btn-group" dropdown>
                <a class="nav-link dropdown-toggle" dropdownToggle *ngIf="(accountService.currentUser$ | async)">Other Details</a>
                <ul id="dropdown-autoclose1" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="button-autoclose1">
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/personaldetails']" >Personal Details
                            Register</a></li>
                    <li role="menuitem"><a class="dropdown-item" [routerLink]="['/personaldetailsview']">Personal
                            Details View</a></li>
                            <li role="menuitem"><a class="dropdown-item" [routerLink]="['/parentreg']" >Parent Details
                                Register</a></li>
                        <li role="menuitem"><a class="dropdown-item" [routerLink]="['/parentview']">Parent
                                Details View</a></li>
                    <!-- <li role="menuitem"><a class="dropdown-item"[routerLink]="['/guesthome']" >Something else here</a></li> -->
                </ul>
            </div>
            <a class="nav-link active" (click)="logout()" [routerLink]="['/guesthome']"
            *ngIf="(accountService.currentUser$ | async)">Logout</a>
        </div>

        &nbsp;
    </div>
    <br> <br>
    <div class="btn" [routerLink]="['/applicationreg']" *ngIf="(accountService.currentUser$ | async)">Apply Here!</div>
</nav>
