<div class="d-flex p-2"><h1 >Course Edit</h1></div>
<div class="card">
        <p-table [value]="courses" dataKey="courseid" editMode="row">
            <ng-template pTemplate="header">
                <tr>
                    <th>Course Name</th>
                    <th>Course Shortname</th>
                    <th>Course Type</th>
                    <th>Course Description</th>
                    <th style="width:8rem"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-course let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="courses">
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="course.coursename" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{course.coursename}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="course.courseshortname" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{course.courseshortname}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="course.coursetype">

                            </ng-template>
                            <ng-template pTemplate="output">
                                {{course.coursetype}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="course.coursedescription">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{course.coursedescription}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td style="text-align:center">
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text" (click)="onRowDelete(course)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>