<carousel>
    <slide>
      <img src="https://santhigiricollege.ac.in/assets/uploads/gallery/CoverPhoto/18.jpg" alt="first slide" style="display: block; width: 1600px;height: 720px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>College Day</h3>
      </div>
    </slide>
    <slide>
      <img src="https://santhigiricollege.ac.in/assets/uploads/gallery/CoverPhoto/17.jpg" alt="second slide" style="display: block; width: 1600px;height: 720px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Chiraku</h3>
      </div>
    </slide>
    <slide>
      <img src="https://santhigiricollege.ac.in/assets/uploads/gallery/CoverPhoto/16.jpg" alt="third slide" style="display: block; width: 1600px;height: 720px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Graduation Day</h3>
      </div>
    </slide>
    <slide>
      <img src="https://santhigiricollege.ac.in/assets/uploads/gallery/CoverPhoto/14.jpg" alt="third slide" style="display: block; width: 1600px;height: 720px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Rangoli Competition Day</h3>
      </div>
    </slide>
    <slide>
      <img src="https://santhigiricollege.ac.in/assets/uploads/gallery/CoverPhoto/13.jpg" alt="third slide" style="display: block; width: 1600px;height: 720px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Onam Celebration 2k22</h3>
      </div>
    </slide>
    <slide>
      <img src="https://santhigiricollege.ac.in/assets/uploads/gallery/CoverPhoto/11.jpg" alt="third slide" style="display: block; width: 1600px;height: 720px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Trojan 3.0</h3>
      </div>
    </slide>
    <slide>
      <img src="https://santhigiricollege.ac.in/assets/uploads/gallery/CoverPhoto/7.jpg" alt="third slide" style="display: block; width: 1600px;height: 720px;">
      <div class="carousel-caption d-none d-md-block">
        <h3>Onam 2k19</h3>
      </div>
    </slide>
  </carousel>