<carousel>
  <slide>
    <img src="https://c1.wallpaperflare.com/preview/79/806/473/book-business-drawing-education.jpg" alt="first slide"
      style="display: block; width: 100%;">

    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
      style="background: rgba(24, 29, 56, .7);">
      <div class="container" style="padding-bottom: 20%;">
        <div class="row justify-content-start">
          <div class="col-sm-10 col-lg-8">
            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
            <h1 class="display-3 text-white animated slideInDown">The Best Online Admission Platform</h1>
            <p class="fs-5 text-white mb-4 pb-2">Dreaming about the luxurious future that awaits you? Join hands with us
              and millions of your other peers
              to commit yourself into a future that's brighter than Leona's Daybreak! Mold yourself with US!
            </p>
            <a [routerLink]="['/studentlogin']"
              class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Student Login Here!</a>
            <a  [routerLink]="['/studentregister']" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Register Here!</a>
          </div>
        </div>
      </div>
    </div>
  </slide>
  <slide>

    <img src="https://c1.wallpaperflare.com/preview/623/487/747/technology-code-coding-computer.jpg" alt="first slide"
      style="display: block; width: 100%;">

    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
      style="background: rgba(24, 29, 56, .7);">
      <div class="container" style="padding-bottom: 20%;">
        <div class="row justify-content-start">
          <div class="col-sm-10 col-lg-8">
            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
            <h1 class="display-3 text-white animated slideInDown">The Best Online Admission Platform</h1>
            <p class="fs-5 text-white mb-4 pb-2">Dreaming about the luxurious future that awaits you? Join hands with us
              and millions of your other peers
              to commit yourself into a future that's brighter than Leona's Daybreak! Mold yourself with US!</p>
              <a [routerLink]="['/studentlogin']"
              class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Student Login Here!</a>
            <a  [routerLink]="['/studentregister']" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Register Here!</a>
          </div>
        </div>
      </div>
    </div>
  </slide>
  <slide>

    <img src="https://c1.wallpaperflare.com/preview/547/595/807/business-computer-contemporary-dark.jpg"
      alt="first slide" style="display: block; width: 100%;">

    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center"
      style="background: rgba(24, 29, 56, .7);">
      <div class="container " style="padding-bottom: 20%;">
        <div class="row justify-content-start">
          <div class="col-sm-10 col-lg-8">
            <h5 class="text-primary text-uppercase mb-3 animated slideInDown">Best Online Courses</h5>
            <h1 class="display-3 text-white animated slideInDown">The Best Online Admission Platform</h1>
            <p class="fs-5 text-white mb-4 pb-2">Dreaming about the luxurious future that awaits you? Join hands with us
              and millions of your other peers
              to commit yourself into a future that's brighter than Leona's Daybreak! Mold yourself with US!</p>
              <a [routerLink]="['/studentlogin']"
              class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft"> Student Login Here!</a>
            <a  [routerLink]="['/studentregister']" class="btn btn-light py-md-3 px-md-5 animated slideInRight">Register Here!</a>
          </div>
        </div>
      </div>
    </div>
  </slide>
</carousel>




<div class="supporting">
  <div class="container">
    <div class="col">
      <img src="https://www.svgrepo.com/show/40040/list.svg">
      <h2>Mission</h2>
      <p>Apes together strong.</p>
      <a class="btn-default"> Commitment</a>

    </div>
    <div class="col">
      <img src="https://www.svgrepo.com/show/3317/head.svg">
      <h2>Vision</h2>
      <p>Awakening to the Future.</p>
      <a class="btn-default">Integrity</a>

    </div>
    <div class="col">
      <img src="https://www.svgrepo.com/show/2468/speech.svg">
      <h2>Motto</h2>
      <p>Quality and Excellence.</p>
      <a class="btn-default">Excellence</a>

    </div>
  </div>
  <div class="clearfix"></div>
</div>





<div class="container pb-5">
  <div class="row">
    <div class="col p-2 ">
      <p-fieldset legend="Why Should You Choose Us?" [toggleable]="true" [transitionOptions]="'300ms'">
        <p>Online admission portals allow students to apply to schools and
          universities from anywhere, at any time. This can be especially convenient for
          students who live far from the school or who have busy schedules. They allow students to apply to schools and
          universities from anywhere, at any time. This can be especially convenient for
          students who live far from the school or who have busy schedules.

        </p>





      </p-fieldset>
    </div>
    <div class="col p-2">
      <p-fieldset legend="More On Why You Must Choose Us?" [toggleable]="true" [transitionOptions]="'300ms'">
        <p>Online admission portals can provide a central
          location for communication between applicants and the school or university.
          This can make it easier for applicants to get updates on the status of their
          application and ask questions. They can help schools and universities
          track and manage large volumes of applications and data, making it easier to
          review and evaluate applications.</p>
      </p-fieldset>
    </div>
    <div class="col p-2">
      <p-fieldset legend="You Better Choose Us." [toggleable]="true" [transitionOptions]="'300ms'">
        <p>Online admission portals can make the application
          process more accessible for students with disabilities or who speak languages
          other than English, as they may offer options for submitting documents
          electronically and providing translation services. This is why we are the best service that you must opt for,
          never
          regret on a decision you took on education, kudos and may the wind guide you.
        </p>
      </p-fieldset>
    </div>
  </div>
</div>
<div class="container p-3">
  <h2 class="text-center">Some of our Major recruiters!</h2>
  <carousel [isAnimated]="true" [itemsPerSlide]="itemsPerSlides" [singleSlideOffset]="singleSlideOffset"
    [startFromIndex]="6" [interval]="2000" s>
    <slide *ngFor="let slide of recruiters; let index=index">
      <img [src]="slide.image" alt="image slide" style="display: block; width: 90%;height: 90%; border-radius: 2cm;">
      <div class="carousel-caption">
        <!-- <h4>Slide {{index}}</h4> -->
      </div>
    </slide>
  </carousel>
</div>

<p-accordion [multiple]="true" class="p-4">
  <p-accordionTab header="Specs: Community College">
    <p>
      The term Community College denotes community interface in education. This is a community- based education program
      aiming to give job-oriented courses
      to youth from the local communities. Usually, skill-oriented courses are offered to students below Degree courses
      that enables them to create direct
      access to employment. The main objective of Community college is to offer affordable and accessible skill-based
      courses to the youth community around
      the college utilizing the space and infrastructure facilities available in the college. </p>
  </p-accordionTab>
  <p-accordionTab header="Specs: Kishore Electronics">
    <p>Whether you are planning to buy a new television or an AC, Electrical Goods Dealers can assist you with every
      need. They are the experts in suggesting
      in the right electrical gadgets and can even assist in the installation and repair. Their experience and vast
      network in the market help you get the right
      product within your budget. So whether you're looking to upgrade you home appliances or need new switchgear, it is
      wise to contact us.
    </p>
  </p-accordionTab>
  <p-accordionTab header="Specs: Blank Esports">
    <p>Blank Esports is a premier gaming community that has been at the forefront of competitive gaming for many years.
      With a passion for gaming and a commitment to excellence,
      Blank Esports has built a reputation as one of the most successful and respected gaming organizations in the
      world. Founded by a group of dedicated and experienced gamers from Elearn academy,
      Blank Esports is dedicated to providing a supportive and inclusive environment for players to hone their skills,
      meet new friends, and compete at the highest level.
      With teams competing in a variety of popular games, including League of Legends, Overwatch, and Fortnite, Blank
      Esports attracts top talent from around the world and is known for its winning culture and strong sense of
      community.</p>
  </p-accordionTab>
</p-accordion>



<div class="container p-3">
  <h2 class="text-center">Some testimonials from our favourite users!</h2>
  <div class="row">
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img" src="https://wallpaperaccess.com/full/479106.jpg" alt="Bologna">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <blockquote class="blockquote text-right">
            <p>"I attended here for my undergraduate degree and it was the best decision I ever made. The professors
              were knowledgeable, passionate, and always willing to go above and beyond to help their students succeed."
            </p>
          </blockquote>
          <div class="author d-flex align-items-center">
            -SRM
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img" src="https://wallpaperaccess.com/full/479106.jpg" alt="Bologna">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <blockquote class="blockquote text-right">
            <p>"I was blown away by how simple and user-friendly EnLearn is. Navigating the site is a breeze, and I was
              able to find exactly what I was looking for in no time.
              It has made my experience so much more enjoyable."</p>
          </blockquote>
          <div class="author d-flex align-items-center">
            -Jony Tojan
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-6 col-lg-4">
      <div class="card">
        <img class="card-img" src="https://wallpaperaccess.com/full/479106.jpg" alt="Bologna">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <blockquote class="blockquote text-right">
            <p>"I was impressed by how quickly I was able to start using EnLearn. The registration and application
              processes were simple and straightforward,
              and the site is organized in a way that makes it easy to find what I need."</p>
          </blockquote>
          <div class="author d-flex align-items-center">
            -Washed up LoL NPC
          </div>
        </div>
      </div>
    </div>
  </div>

</div>


<div class="jumbotron pb-4">
  <p-fieldset legend="Let's see what you're getting into!">
    <carousel [isAnimated]="true" [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset"
      [startFromIndex]="6" [interval]="1500">
      <slide *ngFor="let slide of slides; let index=index">
        <img [src]="slide.image" alt="image slide"
          style="display: block;height: 250px;width: 320px; border-radius: 10cm;">
        <div class="carousel-caption">
          <!-- <h4>Slide {{index}}</h4> -->
        </div>
      </slide>
    </carousel>
  </p-fieldset>
</div>






<div class="footer">
  <div class="container">
    <div class="row">
     
        <h5>Quick Links</h5>
        <p-splitter [style]="{'height': 'ms-auto'}" styleClass="p-mb-5">
          <ng-template pTemplate>
            <div class="p-col p-d-flex p-ai-center p-jc-center">
              <a>
                <ul>
                  <li [routerLink]="['/studentlogin']">Login here!</li>
                  <li [routerLink]="['/studentregister']">Students register here!</li>
                  <li [routerLink]="['/image']">View Images here!</li>
                  <li [routerLink]="['/contactus']">Contact Us here!</li>
                  <li [routerLink]="['/principallogin']">Secret Login here!</li>

      
      
                </ul>
              </a>
            </div>
          </ng-template>
          <ng-template pTemplate>
            <div class="p-col p-d-flex p-ai-center p-jc-center">
              <a>
                <ul>
                  <li class="fa fa-star">Contact: +91-9539603647</li><br>
                  <li class="fa fa-star">Email: enlearn@enlearn.com</li><br>
                  <li class="fa fa-star">Address: Kolapra P.O
                    Thodupuzha, 686576
                    Kerala, India</li><br>
                  <li class="fa fa-star" [routerLink]="['/contactus']">More here!</li>
      
      
                </ul>
              </a>
            </div>
          </ng-template>
        </p-splitter>

    </div>
  </div>
</div>